@import 'variables';
@import 'mixins';

.mobile-menu {
  display: flex;
  align-items: center;
  padding-left: 1em;
  height: $size-menu;
  color: $color-white;
  background-color: $color-black;

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: $size-thumb;
    height: $size-thumb;

    .bar {
      display: block;
      width: $size-thumb;
      height: 5px;
      background-color: $color-white;
      transition: all 250ms ease-out;
    }

    &.open {
      .bar__top {
        transition-delay: 150ms;
        transform-origin: top left;
        transform: rotateZ(45deg);
      }
      .bar__middle {
        transform: translateX(-200%);
        opacity: 0;
      }
      .bar__bottom {
        transition-delay: 150ms;
        transform-origin: bottom left;
        transform: rotateZ(-45deg);
      }
    }
  }

  @include media-md() {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $size-menu + 2;
  left: 0;
  height: calc(90vh - #{$size-menu});
  width: 90vw;
  background-color: $color-black;
  color: $color-white;
  transform: translate(-95vw);
  transition: all 250ms linear;

  &.open {
    transform: translate(0px);
  }

  .logo {
    text-transform: uppercase;
    font-size: $size-menu / 2;
    text-align: center;
    border-bottom: 2px solid;
  }

  .link {
    text-transform: capitalize;
    height: $size-thumb;
    padding: 1em;
  }

  .dev-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $size-thumb;
    margin-top: auto;
    border-top: 2px solid;
    background-color: $color-white;

    a {
      font-size: 32px;
    }
    ::ng-deep {
      svg {
        .stack {

          &-base {
            fill: $color-stack-grey;
          }
          &-overflow {
            fill: $color-stack-orange;
          }
        }

        .linkedin {
          &-base {
            fill: $color-linkedin;
          }
          &-letters {
            fill: $color-white;
          }
        }

        .git {
          &-mark {
            fill: $color-github;
          }
        }
      }
    }
  }

  @include media-md() {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0 1em;
    top: 0;
    height: $size-menu;
    width: 100vw;
    background-color: $color-black;
    color: $color-white;
    transform: translate(0);
    transition: all 250ms linear;

    .logo {
      border-bottom: none;
    }
    .spacer {
      flex: 1;
    }

    .dev-media {
      position: fixed;
      top: 45vh;
      left: 0;
      display: block;
      height: $size-thumb * 3;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 1px 4px 2px rgba($color-black, 0.25);
      z-index: $level-1;
      overflow: hidden;

      ::ng-deep {
        svg {
          .stack {
            &-base,
            &-overflow {
              fill: $color-black;
            }
          }

          .linkedin {
            &-base {
              fill: $color-black;
            }
            &-letters {
              fill: $color-white;
            }
          }

          .git {
            &-mark {
              fill: $color-black;
            }
          }
        }
      }

      a {
        width: $size-thumb;
        height: $size-thumb;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms linear;

        &:hover {
          padding-right: 5px;
          border-right: 5px solid $color-black;

          ::ng-deep {
            svg {
              .stack {
                &-base {
                  fill: $color-stack-grey;
                }
                &-overflow {
                  fill: $color-stack-orange;
                }
              }

              .linkedin {
                &-base {
                  fill: $color-linkedin;
                }
              }

              .git {
                &-mark {
                  fill: $color-github;
                }
              }
            }
          }
        }
      }
    }
  }

}


