@import 'variables';
@import 'mixins';

.menu-toggle {
  position: fixed;
  z-index: $level-1;
  top: 12px;
  left: -$size-menu;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: $size-thumb;
  height: $size-thumb;
  padding: 10px;
  background-color: rgba($color-black, 0.75);
  border-radius: 5px;
  @include me-transition('250');

  .bar {
    display: block;
    flex: 1 0 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-white;
    @include me-transition('250');
  }

  &.slide-in {
    left: $size-thumb / 2;
    opacity: 1;
  }

  &.open {
    left: calc(#{$size-menu-open} + #{$size-thumb / 2});
    .bar__top {
      transition-delay: 450ms;
      transform-origin: top left;
      transform: rotateZ(45deg) translate3d(-4px, -3px, 0) scaleX(1.65);
    }
    .bar__middle {
      transition-delay: 350ms;
      transform: translateX(-200%);
      opacity: 0;
    }
    .bar__bottom {
      transition-delay: 450ms;
      transform-origin: bottom left;
      transform: rotateZ(-45deg) translate3d(-4px, 4px, 0) scaleX(1.65);
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: $level-1;
  top: 0;
  left: 0;
  height: 100vh;
  width: $size-menu-open;
  background-color: $color-black;
  color: $color-white;
  transform: translate(-95vw);
  @include me-transition('250');

  &.open {
    transform: translate(0px);
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-menu;
    border-bottom: 2px solid;
    .logo {
      text-transform: capitalize;
      font-size: 24px;
      line-height: 1;
      padding: 0.25em;
      border-radius: 4px;
      color: $color-black;
      background-color: $color-white;

      span {
        font-family: 'Bungee', cursive;
        letter-spacing: 0.1em;
      }
    }
  }

  .link {
    text-transform: capitalize;
    height: $size-thumb;
    padding: 1em;
    border-bottom: 1px dotted;
  }

  .dev-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $size-thumb;
    margin-top: auto;
    border-top: 2px solid;
    background-color: $color-white;

    a {
      font-size: 32px;
    }
    ::ng-deep {
      svg {
        .stack {

          &-base {
            fill: $color-stack-grey;
          }
          &-overflow {
            fill: $color-stack-orange;
          }
        }

        .linkedin {
          &-base {
            fill: $color-linkedin;
          }
          &-letters {
            fill: $color-white;
          }
        }

        .git {
          &-mark {
            fill: $color-github;
          }
        }
      }
    }
  }

  @include media-md() {

    .dev-media {
      position: fixed;
      top: 45vh;
      left: 0;
      display: block;
      height: $size-thumb * 3;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 1px 4px 2px rgba($color-black, 0.25);
      z-index: $level-1;
      overflow: hidden;

      ::ng-deep {
        svg {
          .stack {
            &-base,
            &-overflow {
              fill: $color-black;
            }
          }

          .linkedin {
            &-base {
              fill: $color-black;
            }
            &-letters {
              fill: $color-white;
            }
          }

          .git {
            &-mark {
              fill: $color-black;
            }
          }
        }
      }

      a {
        width: $size-thumb;
        height: $size-thumb;
        display: flex;
        justify-content: center;
        align-items: center;
        @include me-transition();;

        &:hover {
          padding-right: 5px;
          border-right: 5px solid $color-black;

          ::ng-deep {
            svg {
              .stack {
                &-base {
                  fill: $color-stack-grey;
                }
                &-overflow {
                  fill: $color-stack-orange;
                }
              }

              .linkedin {
                &-base {
                  fill: $color-linkedin;
                }
              }

              .git {
                &-mark {
                  fill: $color-github;
                }
              }
            }
          }
        }
      }
    }
  }
}


