html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

svg {
  display: block;

  &[viewBox] {
    width: 1em;
    height: 1em;
    font-size: 1em;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}
